/*CSS for Component Workout*/

.list-con {
    max-width: 830px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
}

.modal-con {
    max-width:  800px;
    margin-right: auto;
}
